src/main/xsd/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--    <xs:element name="people">-->
    <!--        <xs:complexType>-->
    <!--            <xs:sequence>-->
    <!--                <xs:element minOccurs="1" maxOccurs="unbounded" name="person">-->
    <!--                    <xs:complexType>-->
    <!--                        <xs:sequence>-->
    <!--                            <xs:element name="firstname" type="xs:string" />-->
    <!--                            <xs:element name="lastname" type="xs:string" />-->
    <!--                            <xs:element minOccurs="0" name="address">-->
    <!--                                <xs:complexType>-->
    <!--                                    <xs:sequence>-->
    <!--                                        <xs:element name="street" type="xs:string" />-->
    <!--                                        <xs:element name="city" type="xs:string" />-->
    <!--                                        <xs:element name="zip" type="xs:string" />-->
    <!--                                    </xs:sequence>-->
    <!--                                </xs:complexType>-->
    <!--                            </xs:element>-->
    <!--                            <xs:element minOccurs="0" name="phone">-->
    <!--                                <xs:complexType>-->
    <!--                                    <xs:sequence>-->
    <!--                                        <xs:element name="mobile" type="xs:string" />-->
    <!--                                        <xs:element name="landline" type="xs:string" />-->
    <!--                                    </xs:sequence>-->
    <!--                                </xs:complexType>-->
    <!--                            </xs:element>-->
    <!--                            <xs:element minOccurs="0" maxOccurs="unbounded" name="family">-->
    <!--                                <xs:complexType>-->
    <!--                                    <xs:sequence>-->
    <!--                                        <xs:element name="name" type="xs:string" />-->
    <!--                                        <xs:element name="born" type="xs:unsignedShort" />-->
    <!--                                        <xs:element minOccurs="0" name="phone">-->
    <!--                                            <xs:complexType>-->
    <!--                                                <xs:sequence>-->
    <!--                                                    <xs:element name="mobile" type="xs:string" />-->
    <!--                                                    <xs:element name="landline" type="xs:string" />-->
    <!--                                                </xs:sequence>-->
    <!--                                            </xs:complexType>-->
    <!--                                        </xs:element>-->
    <!--                                        <xs:element minOccurs="0" name="address">-->
    <!--                                            <xs:complexType>-->
    <!--                                                <xs:sequence>-->
    <!--                                                    <xs:element name="street" type="xs:string" />-->
    <!--                                                    <xs:element name="city" type="xs:string" />-->
    <!--                                                    <xs:element name="zip" type="xs:unsignedInt" />-->
    <!--                                                </xs:sequence>-->
    <!--                                            </xs:complexType>-->
    <!--                                        </xs:element>-->
    <!--                                    </xs:sequence>-->
    <!--                                </xs:complexType>-->
    <!--                            </xs:element>-->
    <!--                        </xs:sequence>-->
    <!--                    </xs:complexType>-->
    <!--                </xs:element>-->
    <!--            </xs:sequence>-->
    <!--        </xs:complexType>-->
    <!--    </xs:element>-->

    <xs:element name="people">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstname" type="xs:string"/>
                <xs:element name="lastname" type="xs:string"/>
                <xs:element minOccurs="0" ref="address"/>
                <xs:element minOccurs="0" ref="phone"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="family"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="street" type="xs:string"/>
                <xs:element name="city" type="xs:string"/>
                <xs:element name="zip" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="phone">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mobile" type="xs:string"/>
                <xs:element name="landline" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="family">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="born" type="xs:unsignedShort"/>
                <xs:element minOccurs="0" ref="phone"/>
                <xs:element minOccurs="0" ref="address"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>